In [8]:
from faker import Faker
import random
import pandas as pd

In [52]:
fake = Faker()

music_genres = [
    "Rock", "Jazz", "Hip-Hop", "Electronic", "Classical", 
    "Pop", "Blues", "Reggae", "Country", "Metal", 
    "Funk", "R&B", "Soul", "Punk", "Disco"
]

sub_type = ["Free", "Basic", "Premium"]

def generate_oltp_genre(n):
    data = []
    for i in range(n):
        data.append((
            i,
            music_genres[i-1],
            fake.text()
        ))
    return data

def generate_oltp_labels(n):
    data = []
    for i in range(n):
        data.append((
            i,
            fake.company(),
            fake.country(),
            fake.year()
        ))
    return data

def generate_oltp_artists(n):
    data = []
    for i in range(n):
        fk_yr = fake.year()
        data.append((
            i,
            fake.name(),
            fake.country(),
            f"{int(fk_yr)-3}-{int(fk_yr)+3}",
            fake.random_int(0, 15)
        ))
    return data

def generate_oltp_albums(n):
    data = []
    for i in range(n):
        data.append((
            i,
            f"{fake.word()} {fake.word()} {fake.word()}",
            fake.year(),
            fake.random_int(0, 25),
            fake.random_int(0, 25)
        ))
    return data

def generate_oltp_songs(n):
    data = []
    for i in range(n):
        data.append((
            i,
            f"{fake.word()} {fake.word()} {fake.word()}",
            fake.random_int(120, 320),
            fake.random_int(0, 25),
            fake.random_int(0, 25),
            fake.random_int(0, 15),
            fake.date()
        ))
    return data

def generate_oltp_users(n):
    data = []
    for i in range(n):
        data.append((
            i,
            fake.name(),
            fake.email(),
            fake.date(),
            random.choice(sub_type)
        ))
    return data

def generate_oltp_playlist(n):
    data = []
    for i in range(n):
        data.append((
            i,
            f"{fake.word()} {fake.word()} {fake.word()}",
            fake.date_time(),
            random.choice(["private, public"]),
            fake.random_int(0, 100)
        ))
    return data

def generate_oltp_playlist_songs(n):
    data = []
    for i in range(n):
        data.append((
            fake.random_int(0, 300),
            fake.random_int(0, 100),
            fake.date_time()
        ))
    return data

def generate_oltp_listening_history(n):
    data = []
    for i in range(n):
        data.append((
            i,
            fake.date_time(),
            random.choice(["mobile", "desktop"]),
            fake.city(),
            fake.random_int(1000, 3000),
            fake.random_int(0, 100),
            fake.random_int(0, 300)
        ))
    return data

def generate_oltp_subscriptions(n):
    data = []
    for i in range(n):
        data.append((
            i,
            random.choice(sub_type),
            fake.date_time(),
            fake.date_time(),
            random.choice(["debit card", "mobile wallet", "credit card"]),
            random.choice(["expired", "active", "inactive"]),
            fake.random_int(0, 100)
        ))
    return data

In [57]:
df_genre = pd.DataFrame(
    generate_oltp_genre(16), 
    columns=["genre_id", "name", "description"]
)
df_label = pd.DataFrame(
    generate_oltp_labels(26), 
    columns=["label_id", "name", "country", "founded_year"]
)
df_artist = pd.DataFrame(
    generate_oltp_artists(26), 
    columns=["artist_id", "name", "country", "active_years", "genre_id"]
)
df_album = pd.DataFrame(
    generate_oltp_albums(26), 
    columns=["album_id", "name", "release_year", "artist_id", "label_id"]
)
df_song = pd.DataFrame(
    generate_oltp_songs(100), 
    columns=["song_id", "title", "duration", "album_id", "artist_id", "label_id", "release_date"]
)
df_user = pd.DataFrame(
    generate_oltp_users(100), 
    columns=["user_id", "name", "email", "join_date", "subscription_type"]
)
df_playlist_songs = pd.DataFrame(
    generate_oltp_playlist_songs(300), 
    columns=["playlist_id", "song_id", "added_at"]
)
df_playlist = pd.DataFrame(
    generate_oltp_playlist(150), 
    columns=["playlist_id", "name", "created_at", "privacy_setting", "user_id"]
)
df_listening_history = pd.DataFrame(
    generate_oltp_listening_history(200), 
    columns=["history_id", "played_at", "device", "location", "play_duration", "user_id", "song_id"]
)
df_subscription = pd.DataFrame(
    generate_oltp_subscriptions(200), 
    columns=["subscription_id", "plan_type", "start_date", "end_date", "payment_method", "status", "user_id"]
)

df_dim_date.head(5)
df_label.head(5)
df_artist.head(5)
df_album.head(5)
df_song.head(5)
df_user.head(5)
df_playlist_songs.head(5)
df_playlist.head(5)
df_listening_history.head(5)
df_subscription.head(5)

,subscription_id,plan_type,start_date,end_date,payment_method,status,user_id
0,0,Premium,1983-02-15 16:55:20,1981-05-10 21:26:20,debit card,inactive,91
1,1,Basic,1973-01-01 08:57:07,2017-10-25 11:21:48,debit card,inactive,69
2,2,Premium,2025-01-03 09:24:56,1995-03-04 14:38:33,credit card,expired,50
3,3,Free,1984-05-15 20:59:54,1988-01-22 06:18:33,credit card,active,41
4,4,Basic,2024-04-23 17:51:35,1993-04-26 17:50:11,credit card,active,13